<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>02 Mapa TypeScript</title>
    <style>
      @import url("https://unpkg.com/leaflet@1.9.4/dist/leaflet.css");
      #map {
        margin: 0 auto;
        width: 100%;
        min-height: 100vw;
        max-height: 97vh;
        height: 100%;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script src="./index.ts"></script>
  </body>
</html>
